*{
        margin: 0px;

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(142, 113, 168);
}

.intro{
  width: 60%;
  height: 400px;
  background: black;
  color: white;
  border-radius: 20px;
  margin-left: 300px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
    box-shadow: 0 8px 20px rgba(254, 254, 254, 0.3);
}

.name{
  display: flex; 
  gap: 12px;
  font-size: 36px;
  font-weight: bold;
}

.letter{
  display: inline-block;
  animation: dropFromTop 0.8s ease-out forwards;
  opacity: 0;
}

.letter:nth-child(1){ animation-delay: 0.1s; }
.letter:nth-child(2){ animation-delay: 0.3s; }
.letter:nth-child(3){ animation-delay: 0.5s; }
.letter:nth-child(4){ animation-delay: 0.7s; }
.letter:nth-child(5){ animation-delay: 0.9s; }

@keyframes dropFromTop {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.About_me{
    position: relative;
    top: 100px;
    left: 70px;
    width:160px;
    height: 80px;
    background-color: rgba(00, 00, 0.097);
    box-shadow: 0 8px 20px rgba(254, 254, 254, 0.3);
    border-radius: 24px;
    margin: 10px;
    padding-left: 5px;
    transition: 3s;
    overflow: hidden;
}
#first{
    color: rgb(246, 239, 239);
    margin: 18px;
    transition: 3s;
}
.AB{
    opacity: 0;
    transition: 4s;
}
.About_me:hover {
    left: 20px;
    cursor: pointer;
    width: 400px;
    height: 200px;
    background-color: rgb(63, 133, 142);
    color: black;
    .AB{
        opacity: 1;
    }

}

#projects{
   position: relative;
   top: 9px;
   left: 450px;
    width:160px;
    height: 80px;
    background-color: rgba(00, 00, 0.097);
    box-shadow: 0 8px 20px rgba(254, 254, 254, 0.3);
    border-radius: 24px;
    margin: 10px;
    padding-left: 5px;
    transition: 2s;
    overflow: hidden;

}
.pro{
    color: rgb(246, 239, 239);
    margin: 20px;
    margin-left: 30px;
    transition: 3s;
}
.ject{
    margin-left: 60px;
    opacity: 0;
    transition: 4s;
}
#projects:hover {
    cursor: pointer;
    left: 400px;
    width: 400px;
    height: 200px;
    background-color: rgb(63, 133, 142);
    color: black;  
    .ject{
        opacity: 1;
    }
}

#skill{
    position: relative;
    left: 850px;
    top: -84px;
    width:160px;
    height: 80px;
    background-color: rgba(00, 00, 0.097);
    box-shadow: 0 8px 20px rgba(254, 254, 254, 0.3);
    border-radius: 24px;
    margin: 10px;
    padding-left: 5px;
    transition: 2s;
    overflow: hidden;
}
.ski{
    color: rgb(246, 239, 239);
    margin: 22px;
    margin-left: 45px;
    transition: 3s;
}
.ll{
    margin-left: 60px;
    opacity: 0;
    transition: 4s;
}
#skill:hover {
    cursor: pointer;
    left:850px;
    width: 300px;
    height: 200px;
    background-color: rgb(63, 133, 142);
    color: black;
    .ll{
        opacity: 1;
    }  
}
#hoo{
    position: relative;
    top: -169px;
    left: 1280px;
     width:160px;
    height: 80px;
    background-color: black;
    border-radius: 24px;
    box-shadow: 0 8px 20px rgba(254, 254, 254, 0.3);
    overflow: hidden;
    transition: 3s;

}
.hey{
    color: white;
    margin: 23px;
    margin-left: 30px;
    transition: 3s;
}
.sub{
    margin-left: 60px;
    opacity: 0;
    transition: 4s;
}
#hoo:hover {
    cursor: pointer;
    left: 1200px;
    width: 300px;
    height: 200px;
    background-color: rgb(63, 133, 142);
    color: black;
    .sub{
        opacity: 1;
    }
}

.footer{
    margin-top: 100px;
    margin-left: 14px;
    width: 98%;
    height: 505px;
    background-color: black;
    box-shadow: 0 8px 20px rgba(254, 254, 254, 0.3);
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;   
    align-items: center;      
    padding-top: 40px;
}
 
.footer {
     padding: 40px 20px;
    box-sizing: border-box;
} 

.ab2{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 90px;
    .contact {
                margin-top: -40px;

        h3{
            margin-bottom: 15px;
            color: darkseagreen;
            text-decoration: solid underline red 3px ;
        }
    }
    .sach{
        margin-top: -40px;
         h3{
            margin-bottom: 15px;
            color: darkseagreen;
            text-decoration: solid underline red 3px ;

        }
    }
}
